@import '../../../assets/colors';

a {
    display: flex;
    padding: 3px 0;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

a > strong {
    flex-basis: 0;
    flex-grow: 0;
    margin-right: 10px;
    color: $warning;
}

a > * {
    flex-grow: 1;
    flex-shrink: 0;
}

a > *:last-child {
    flex-basis: 0;
    text-align: right;
    flex-grow: 0;
    width: 100px;
}

a:hover {
    border-color: $light-gray;
    background-color: $light-light-gray;
    cursor: pointer;
    color: $secondary;
}
