:host {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

:host > * {
    flex: 1 1 auto;
    flex-basis: 100%;
}

:host > a {
    background: url(/assets/menu_new2_half.png) no-repeat left -2px transparent;
    content: " ";
    display: block;
    height: 25px;
    width: 25px;
    flex-basis: 25px;
    flex-shrink: 0;
    flex-grow: 0;
}

:host > .upload-image {
    background-position: left -52px;
}

:host > .upload-audio {
    background-position: left -102px;
}

:host > .upload-video {
    background-position: left -2px;
}

.card-type {
    width: 250px;
    flex-basis: 250px;
    flex-shrink: 0;
    flex-grow: 0;
}

.card-type /deep/ .mat-input-infix {
    display: flex;
}

.card-type /deep/ .mat-input-infix > span {
    padding: 0 10px;
}

.highlighted-link {
    width: 60px;
    flex-basis: 60px;
}

md-radio-group {
    text-align: center;
}


