<md-input-container class="tricky-select card-type">
    <input mdInput type="text" title="" [ngStyle]="{'display':'none'}"/>
    <span>{{ index }}</span>
    <md-select [disabled]="readonly" [ngModel]="card?.getResponseType()" (ngModelChange)="card.setResponseType($event)"
               name="responseType" placeholder="Card type">
        <md-option value="">Flash card</md-option>
        <md-option value="mc">Multiple choice</md-option>
        <md-option value="tf">True/False</md-option>
        <md-option value="sa contains">Short answer (contains)</md-option>
        <md-option value="sa exactly">Short answer (exact match)</md-option>
    </md-select>
</md-input-container>
<input name="upload" value="" type="hidden">
<a href="#" class="upload-image" data-target="#upload-file" data-toggle="modal"> </a>
<a href="#" class="upload-audio" data-target="#upload-file" data-toggle="modal"> </a>
<a href="#" class="upload-video" data-target="#upload-file" data-toggle="modal"> </a>

<md-input-container class="input content">
    <textarea [disabled]="readonly" mdInput name="content" placeholder="Prompt"
              [ngModel]="card?.getContent()" (ngModelChange)="card.setContent($event)"></textarea>
</md-input-container>
<md-input-container *ngIf="card.getResponseType() !== 'tf' && card.getResponseType() !== 'mc'"
                    class="input correct editing">
    <textarea [disabled]="readonly" mdInput name="correct" placeholder="Answer"
              [ngModel]="card?.getResponseContent()" (ngModelChange)="card.setResponseContent($event)"></textarea>
</md-input-container>
<div *ngIf="card.getResponseType() === 'mc'" class="correct type-mc editing">
    <md-checkbox name="correct-mc-1674" value="John 15:5"
                 checked="checked" [disabled]="readonly"><i></i><span>John 15:5</span></md-checkbox>
    <md-input-container class="input">
        <textarea [disabled]="readonly" mdInput name="answers" placeholder="Answers" data-delimiter="\s*\n\s*|\s*\\n\s*"
                  data-prefix="_clear\n">John 15:5</textarea>
    </md-input-container>
</div>
<md-radio-group *ngIf="card.getResponseType() === 'tf'">
    <md-radio-button value="true" [disabled]="readonly">True</md-radio-button>
    <md-radio-button value="false" [disabled]="readonly">False</md-radio-button>
</md-radio-group>

<div class="highlighted-link">
    <a title="Remove card" href="#remove-confirm-card">&nbsp;</a>
</div>
