@import "../../../assets/colors";

#site-name {
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 2000;
    height: 40px;
    top: 0;
    white-space: nowrap;
    border: none;
    vertical-align: top;
    margin-bottom: 0;
    border-radius: 0;
    background: $dark-blue;
    cursor: pointer;
}
