@import '~@angular/material/theming';

$act-orange: #0099BB;
$brand-primary: #FF9900;
$warning: #E6004B;

$pure-white: #fff;

$light-light-gray: #F1F3F5; /* #dfe3e6  from new homepage */
$light-gray: #CDCDC8;
$gray: #939389;
$dark-gray: #78786E;

$act-blue: #0099BB;
$secondary-blue: #FF9900;
$dark-blue: #424242;
