@import './colors';

bc-pack-row {

    & a.pack-icon:after,
    & a.pack-icon:before {
        content: " ";
        display: block;
        position: absolute;
        right: 5px;
        margin-top: -2px;
        top: 50%;
        width: 25px;
        border-top: 2px solid $light-gray;
        border-left: 0 solid transparent;
        border-right: 0 solid transparent;
        border-bottom: 4px solid $light-gray;
        height: 12px;
        transition: .15s ease-in-out;
    }

    & a.pack-icon:after {
        margin-top: -14px;
        border-top: 4px solid $light-gray;
        border-bottom: 2px solid $light-gray;
    }

    &:hover a.pack-icon:before {
        height: 0;
        border: 0 solid transparent;
    }

    &:hover a.pack-icon:after {
        height: 0;
        border-right: 0;
        margin-top: -20px;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 25px solid $secondary;
    }
}

.edit-icon {
    background: url(/assets/menu_new_half.png) no-repeat left -1552px transparent;
    content: " ";
    display: block;
    height: 25px;
    width: 25px;
    top: 50%;
    margin-top: -12px;
}

