<div class="bc-group-row">
    <a routerLink="/groups/0">
        <b><img height="50" [src]="logo"></b>
        <span class="reveal">{{ group.getName() }}</span>
    </a>

    <div class="subgroups">
        <span>5 subgroups / 100 users / 40 packs</span>
        <span>Sub-group</span><span>15 users / 20 packs</span>
        <span>Sub-group</span><span>15 users / 20 packs</span>
        <span>Sub-group</span><span>15 users / 20 packs</span>
        <span>Sub-group</span><span>15 users / 20 packs</span>
    </div>
</div>
