@import '../../assets/colors';

.big-button {
    flex-basis: 40%;
    width: 40%;
    position: relative;
    flex-shrink: 0;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-button a {
    max-height: 200px;
    background: url(/assets/shuffle_btn.png) no-repeat 0 0 transparent;
    background-size: cover;
    display: block;
    width: 50%;
    padding-bottom: 50%;
}

h2 {
    display: flex;
    border-bottom: 2px solid $dark-gray;
    margin-top: 0;
    margin-bottom: 0;
}

h2 > * {
    flex-basis: 50%;
}

h2 > *:last-child {
    text-align: right;
}

:host {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pack-summary {
    display: block;
    background: $light-light-gray;
    border: 1px solid $light-gray;
    padding: 10px;
    white-space: normal;
    word-wrap: break-word;
    overflow: auto;
    max-height: 100%;
    min-height: 250px;
    width: 60%;
    flex-basis: 60%;
    flex-shrink: 0;
    flex-grow: 1;
}

/deep/ .home .mat-sidenav-container {
    background: url(/assets/neural_darkened.jpg) no-repeat center center #333;
    background-size: cover;
}

/deep/ .home bc-footer {
    position: absolute;
    bottom: 0;
    top: auto;
    left: 0;
    right: 0;
    z-index: 100;
}

/deep/ bc-toolbar ~ bc-home {
    max-height: 100%;
    height: 100%;
}
