@import '../../assets/colors';

bc-pack-row {
    display: block;
    padding: 10px;
    border: 1px solid $light-gray;
    background: $light-light-gray;
    text-align: left;
    border-radius: 1px;
    position: relative;
    margin: 15px 0;
}

bc-pack-row:hover /deep/ .edit-icon {
    opacity: 1;
    visibility: visible;
}

bc-pack-row > * {
    flex-shrink: 0;
}
